.products {
    display: flex;
    gap: 64px;
    justify-content: center;
    margin-top: 100px;
    @media only screen and (max-width: 1024px) {
       flex-wrap: wrap;
      }
    &-item {
        max-width: 304px;
        border-radius: 8px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        position: relative;

        &-wishlist {
            position: absolute;
            top: 32px;
            right: 32px;

            svg {

                &.wishlistDefault {
                    &:hover {
                        circle {
                            fill: #FFCAE0;
                        }

                        path {
                            fill: #FFCAE0;
                        }
                    }
                }

                &.wishlistActive {
                    &:hover {
                        circle {
                            fill: #E20F15;

                        }

                    }

                }

            }
        }

        &-image {
            margin-bottom: 32px;
        }

        &-name {
            font-size: 14px;
            color: #1C1C1C;
            margin-bottom: 24px;
            line-height: 20px;
        }

        &-listPrice {
            color: #999A9B;
            text-decoration: line-through;
            font-size: 14px;
            margin-bottom: 4px;
        }

        &-spotPrice {
            color: #F3151B;
            font-size: 20px;
            margin-bottom: 4px;
        }

        &-addToCart {
            width: 240px;
            height: 48px;
            background-color: #40B25C;
            color: #FFFFFF;
            font-size: 16px;
            font-weight: 700;
            padding: 12px 24px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;

            &:hover {
                background-color: #1E9631;
            }

            &.productAdded {
                &:hover {
                    &::before {
                        content: '';
                        background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.5 6L9.5 17L4.5 12' stroke='%231C1C1C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        width: 24px;
                        height: 24px;
                    }
                    background-color: #A3F9B9;
                    color: #1C1C1C;
                }
            }
        }

        &-installments {
            margin-bottom: 32px;
            font-size: 12px;
            font-weight: 500;
            color: #737375;

            strong {
                color: #1C1C1C;
            }
        }

        &:hover {
            box-shadow: 0px 8px 24px 0px #00000014;
            cursor: pointer;
        }
    }
}